[submodule "src/modules/adk"]
	path = src/modules/adk
	url = git@github.com-personal:vagran/adk-cpp.git
[submodule "src/modules/asio/asio"]
	path = src/modules/asio/asio
	url = https://github.com/chriskohlhoff/asio.git
